#app {
  text-align: center;
  color: black;
  max-width: 1280px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.EntitySection {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  max-width: 550px;
  margin: 15px;
}

table {
  box-sizing: border-box;
  border-collapse: collapse;
}

th.row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: right;
}

th.col {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  text-align: left;
}

td,
th {
  padding: 8px;
}

th {
  font-weight: 500;
}

td.content {
  text-align: right;
}

tfoot {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.EntitySectionHeader {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 20px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin: 0;
  padding-left: 14px;
}

.icon {
  fill: black;
  width: 28px;
  height: auto;
}
