name: Tarjonta-pulssi
env:
  HUSKY: 0

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**.md"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        name: Install pnpm
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Run tests
        run: |
          pnpm install
          pnpm run typecheck
          pnpm run prettier
          pnpm run eslint
          pnpm run test
